@import url('https://fonts.googleapis.com/css?family=Catamaran|Droid+Sans|Muli|Nunito|Open+Sans|Oxygen|Quicksand|Raleway');

body {
  font-family: 'Quicksand', sans-serif; /* good */
  font-family: 'Open Sans', sans-serif; /* good */
  background-color: hsla(210, 79%, 46%, 1);
  margin: 0;
}

.app {
  color: hsla(360, 100%, 100%, 1);
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
