@import url('https://fonts.googleapis.com/css?family=Catamaran|Droid+Sans|Muli|Nunito|Open+Sans|Oxygen|Quicksand|Raleway');

body {
  /*font-family: 'Catamaran', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  /*font-family: 'Oxygen', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Droid Sans', sans-serif;
  font-family: 'Muli', sans-serif;
  font-family: 'Nunito', sans-serif;*/
  background-color: hsla(16, 75%, 55%, 0.7);
  margin: 0;
}

button {
  cursor: pointer;
}

.pomodoro {
  color: hsla(360, 100%, 100%, 1);
  /*height: 100vh;*/
}

.pomodoro-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
