@media only screen
  and (max-height: 568px)
  and (orientation: landscape) {

  /*===================
  Preview section
  ====================*/
  .preview h3 {
    margin: 10px 0;
  }

  .preview-session,
  .preview-break {
    font-size: 0.8em;
    padding: 5px 20px;
  }

  /*===================
  Timer section
  ====================*/
  .timer {
    font-size: 2em;
    text-align: center;
    padding: 20px 0 10px 0;
  }

  .timer h3 {
    margin: 0 0 10px 0;
  }

  /*===================
  Buttons section
  ====================*/
  .buttons {
    padding-top: 0;
    padding-bottom: 10px;
  }

  /*===================
  Settings section
  ====================*/
  .settings {
    flex-direction: row;
    /*right: -300px;*/
    transform: translateX(520px);
    height: 100%; width: 520px;
  }

  .settings-show {
    transform: translateX(0);
  }

  .first-column,
  .second-column {
    flex: 0 0 260px;
  }

  .first-column {
    justify-content: space-between;
  }

  /*===================
  Footer
  ====================*/
  .footer {
    font-size: .6em;
  }

}

/* iPhone 5 landscape */
@media only screen
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  /*===================
  Settings section
  ====================*/
  .saved-timers {
    margin: 5px 5px 0 5px;
  }

  .set-timers {
    margin: 0 10px;
  }

  .set-timer-title {
    font-size: 1em;
  }

  .set-timers-button-save {
    margin-top: 5px;
  }

  .first-column {
    justify-content: flex-start;
  }
}

/* iPad landscape */
@media only screen
  and (min-width: 1024px)
  and (orientation: landscape) {

  /*===================
  Settings section
  ====================*/
  .first-column {
    justify-content: flex-start;
  }
}
