.buttons {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.button {
  /*background-color: hsla(16, 75%, 55%, 0.2);*/
  background-color: hsla(210, 79%, 46%, 1);
  color: inherit;
  height: 60px; width: 60px;
  padding: 10px;
  border: 1px solid;
  border-radius: 100%;
  margin: 5px;
  line-height: 60px;
  cursor: pointer;
  flex: 0 0 auto;
  transition: background-color .4s;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.button:hover {
  /*background-color: hsla(16, 75%, 55%, 0.7);*/
  /*background-color: hsla(210, 79%, 51%, 1);*/
  background-color: hsla(210, 79%, 38%, 1);
}

.button:active {
  /*background-color: hsla(16, 75%, 55%, 0.9);*/
  /*background-color: hsla(210, 79%, 56%, 1);*/
  background-color: hsla(210, 79%, 26%, 1);
  color: hsla(16, 65%, 55%, 1);
}

.button-settings {
  color: hsla(0, 0%, 100%, 1);
  position: absolute;
  top: 0; right: 0;
  margin: 10px;
  font-size: 2em;
  cursor: pointer;
  transition: color .3s;
}

.button-settings:hover {
  color: hsla(16, 65%, 55%, 1);
}

.button-settings:active {
  color: hsla(16, 85%, 60%, 1);
}
