.pomodoro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pomodoro-main {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.message {
  position: absolute;
  bottom: 10px; left: 0;
  text-align: center;
  z-index: 10;
}

.footer {
  font-size: 0.6em;
  margin-bottom: 5px;
}
