.pomodoro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pomodoro-main {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.message {
  position: absolute;
  left: 0; right: 0; bottom: 50px;
  z-index: 999;
  color: #fff;
  background-color: hsla(0, 0%, 0%, 0.5);
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity .5s;
}

.message.visible {
  opacity: 1;
}

.footer {
  font-size: .8em;
  margin-bottom: 5px;
}

.footer span {
  cursor: pointer;
  transition: color .2s;
}

.footer span:hover {
  color: hsla(16, 65%, 55%, 1);
}

.footer span:active {
  color: hsla(16, 85%, 60%, 1);
}
